:root {
  --color-text-terminal-green: #00f500;
  --color-box-shadow: #111111;
  --color-black-background: #1b1a1a;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100vw;
}

body {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: var(--color-black-background);
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  font-weight: 600;
}

.header-nav {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;

}

.header-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header-links li a {
  position: relative;
  padding-bottom: 2px;
}

.header-links li a:hover {
  color: var(--color-text-terminal-green);
}

.header-links li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-text-terminal-green);
  transition: width 0.3s ease-in-out;
}

.header-links li a:hover::after {
  width: 100%;
}

.hero {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 3vw;
}

.hero__content {
  animation: slide-up 1s ease-in-out;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__ascii-art {
  display: block;
  max-width: 300px;
}

.hero__title {
  white-space: nowrap;
  margin: 0;
  text-align: center;
  animation: typing 1s steps(30, end);
  font-size: 4rem;
}

.hero__title::before {
  content: '>';
  margin-right: 10px;
  color: var(--color-text-terminal-green);
}

.hero__title::after {
  content: '_';
  color: var(--color-text-terminal-green);
  animation: blink 1s infinite;
}

.hero__title-name {
  color: var(--color-text-terminal-green);
}

.hero__description {
  line-height: 30px;
}

.hero__action {
  background: none;
	color: var(--color-text-terminal-green);
	font: inherit;
  margin-top: 10px;
	cursor: pointer;
}

.hero__action:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 560px) {
  .hero__title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .hero {
    max-width: 80vw;
  }
}
