:root {
  --color-text-terminal-green: #00f500;
  --color-box-shadow: #111111;
  --color-black-background: #1b1a1a;
  --color-top-bar-gray: #726f6f;
  --color-side-nav-gray: #2c2b2b;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100vw;
  transition: 0.3s;
  z-index: 1;
}

header.transparent {
  background-color: rgba(0, 0, 0, 0.8);
}

body {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: var(--color-black-background);
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

main section {
  padding-top: 70px;
}

section h2 {
  color: var(--color-text-terminal-green);
  font-size: 2rem;
}

ul {
  padding-inline-start: 0;
}

ul li {
  list-style: none;
}

#canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container-space {
  max-width: 1000px;
  margin: 0 auto;
}

.logo {
  font-weight: 600;
}

.header-nav {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 30px;
}

.header-links li a {
  position: relative;
  padding-bottom: 2px;
}

.header-links li a:hover {
  color: var(--color-text-terminal-green);
}

.header-links li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-text-terminal-green);
  transition: width 0.3s ease-in-out;
}

.header-links li a:hover::after {
  width: 100%;
}

.menu {
  cursor: pointer;
  transition: opacity 0.1s ease;
}

.menu:hover {
  opacity: 0.7;
}

.menu-toggle__icon {
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  border-radius: 1px;
  background-color: white;
}

.side-nav {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  z-index: 2;
  right: 0;
  width: 50vw;
  height: 100vh;
  background-color: var(--color-side-nav-gray);
}

.side-nav__links {
  margin: 50px 20px 0 20px;
}

.side-nav__links li {
  border-bottom: 1px solid white;
  transition: 0.1s;
}

.side-nav__links li:hover {
  background-color: rgba(171, 166, 166, 0.1);
}

.side-nav__links li a {
  padding: 20px 0 20px 0;
  display: inline-block;
  width: 100%;
}

.hero {
  padding: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 3vw;
}

.hero__content {
  animation: slide-up 1s ease-in-out;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__ascii-art {
  display: block;
  max-width: 300px;
  height: 297.02px;
}

.hero__title {
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  text-align: center;
  animation: typing 1s steps(30, end);
  font-size: 4rem;
}

.hero__title::before {
  content: '>';
  margin-right: 10px;
  color: var(--color-text-terminal-green);
}

.hero__title::after {
  content: '_';
  color: var(--color-text-terminal-green);
  animation: blink 1s infinite;
}

.hero__title-name {
  color: var(--color-text-terminal-green);
}

.hero__description {
  line-height: 30px;
}

.hero__action {
  background: none;
	color: var(--color-text-terminal-green);
	font: inherit;
  margin-top: 10px;
	cursor: pointer;
}

.hero__action:hover {
  opacity: 0.7;
}

.experience__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.experience_item-img-top-bar {
  width: 100%;
  height: 20px;
  border-radius: 5px 5px 0 0;
  background-color: var(--color-top-bar-gray);
}

.experience__item-img-top-bar-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.experience__item-img-top-bar-circle.red {
  margin-left: 10px;
  background-color: red;
}

.experience__item-img-top-bar-circle.yellow {
  background-color: yellow;
}

.experience__item-img-top-bar-circle.green {
  background-color: rgb(13, 223, 13);
}

.experience__item-img {
  position: relative;
  width: 100%;
  border-radius: 0 0 5px 5px;
}

.experience__item-contribution-list li::before {
  content: '>';
  color: var(--color-text-terminal-green);
  margin-right: 10px;
}

.experience__low-emphasis-text {
  font-size: 0.800em;
}

.about__container {
  background-color: rgb(256, 256, 256, 0.1);
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--color-box-shadow);
  padding: 5px;
}

.about__icons {
  display: flex;
  gap: 8px;
}

.about__icon {
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: rgba(255, 255, 255);
  color: black;
  padding: 5px;
  gap: 2px;
  transition: 0.3s;
}

.about__icon:hover {
  scale: calc(1.05);
}

.about__certification-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.about__certification {
  padding: 10px;
  width: fit-content;
  text-align: center;
}

.about__certification-img {
  width: 150px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.about__certification-img:hover {
  transform: scale(1.05);
}

.about__expertise-collection {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.about__expertise-item {
  border-radius: 10px;
  padding: 10px;
}

.about__expertise-item ul li::before {
  content: '>';
  color: var(--color-text-terminal-green);
  margin-right: 10px;
}

.about__certification figure {
  margin: 0;
}

.project__item.leetcode {
  margin-top: 50px;
}

.project__item-img {
  width: 100%;
  border-radius: 5px;
}

.project__item-links {
  margin: 16px 16px 0 0;
}

.project__item-links a {
  border: var(--color-text-terminal-green) 1px solid;
  color: var(--color-text-terminal-green);
  border-radius: 2px;
  padding: 5px;
}

.project__item-links a:hover {
  background-color: var(--color-text-terminal-green);
  color: black;
}

.project__item-description a {
  position: relative;
  color: var(--color-text-terminal-green);
}

.project__item-description a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color-text-terminal-green);
  transition: width 0.3s ease-in-out;
}

.project__item-description a:hover::after {
  width: 100%;
}

.contact {
  margin-bottom: 50px;
}

.contact__container {
  background-color: rgb(256, 256, 256, 0.1);
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--color-box-shadow);
  padding: 20px 0 50px 0;
}

.about__icon.email {
  width: fit-content;
  margin-top: 30px;
}

.footer {
  text-align: center;
  border-top: 1px solid var(--color-top-bar-gray);
  padding: 20px 0;
}

.footer p {
  margin: 0;
  padding: 8px;
  font-size: 0.875rem;
}

@media screen and (max-width: 768px) {
  body.disabled {
    overflow-y: hidden;
  }

  .side-nav.active {
    transform: translateX(0);
    display: block;
  }

  #overlay.active {
    display: block;
  }

  .container-space {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .hide-on-medium {
    display: none;
  }

  .hero__title {
    font-size: 3rem;
  }

  .about__expertise-collection {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .container-space {
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .hide-on-desktop {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  .hero__title {
    font-size: 1.5rem;
  }
}
